/*CSS*/
body {
  background:#56DB9D;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  font: 'Courgette', cursive;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 5px;
  padding: 4px 8px;
  border-radius: 4px;
}


/* New for Lab 7 */
h1 {
  margin: 20px 50px;
  padding: 0 20px;
  min-height: 75px;
  background-color: #3895a8;
  color: white;
  display: flex;

  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: capitalize;
  flex-wrap: nowrap;
  border-radius: 4px;
}


.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  background-color: white;
  box-sizing: border-box;
  padding: 6px 10px;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 4px;
}

.cases{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}
.suggestions li{
  font: 1.5em 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
  background: #B96BDB;
  width: 500px;
  padding: 10px;
  border: 5px none;
  margin-bottom: 5%;
 
}
